@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    background: linear-gradient(90deg,
    rgb(175, 169, 153) 35%,
    rgb(180, 176, 149)) !important;
   /* background: #c4b7a8 !important ; */
} 
.ci{
    width: 80px;
    height: 30px;
    
    color: #ffffff;
    font-size: larger;
    position: absolute;
    
    z-index: -1;
    top: 80%;
    left: 90%;
    background-color: #ff2e04; 
     /* background: linear-gradient(90deg,
    rgb(36, 0, 0) 35%,
    rgb(233, 76, 76));

     */
    box-shadow: rgb(38, 57, 77) 0px 10px 10px -5px;
}.ci2{
    width: 80px;
    height: 40px;
    background-color: aqua;
    position: absolute;
    /* border-radius: 50%; */
    z-index: -2;
    top: 85%;
    left: -10%;
    
    /* border: 5px solid gold; */
    /* background-color: rgb(2,0,36); */
    background: #00C9A7;
    box-shadow: rgb(38, 57, 77) 0px 10px 10px -5px;
    
}.ci3{
    width: 20px;
    height: 150px;
    background-color: aqua;
    position: absolute;
    
    z-index: -10;
    top: 10%;
    left: 99%;
    
    background: #4502b1;
    box-shadow: rgb(38, 57, 77) 0px 10px 10px -5px;
    
}.ci4{
    width: 30px;
    height: 15px;
    
    position: absolute;
    border: 1px solid black;
    z-index: -20;
    top: 30%;
    left: 45%;
    background-color: rgb(2,0,36);
    background: 
    rgb(232, 236, 1);
    
    box-shadow: 0px 0px 10px rgba(0,0,0,.5)
    
}.ci5{
    width: 10vw;
    height: 20px;
    
    position: absolute;
    
    z-index: 1;
    top: 95%;
    left: 35%;
    
    background: 
    #FFC75F;
    box-shadow: rgb(38, 57, 77) 0px 10px 10px -5px;
}
.ci6{
    width: 150px;
    height: 10px;
    
    position: absolute;
    
    z-index: -1;
    top: 15%;
    left: 55%;
    
    background: linear-gradient(90deg,
    rgb(1, 236, 21) 35%,
    rgb(4, 63, 17));
}
.w-1{
    padding-top: 5%;
    
}
.in-1{
    
   
    height:70vh; 
    
}
.i-s{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.i-s img{
    width: 100%;
    background-size:cover;
   
}.col-10{
    
    display: flex;
    
   
}
.col-4{
    border: none !important;
    background-color: transparent !important;
    perspective: 900px;
   
}
.sqr-0{
    position: relative;
    display: block;
    /* background-color: rgb(2,0,36);
    background: linear-gradient(90deg,
    rgba(2,0,36,1) 35%,
    rgba(0,0,129,1)); */
    border: 1px solid #ffffff00;
    /* background-color: blue; */
    height: 50%;
    margin-top: 1rem;
    /* border-radius: 1rem ; */
    /* background-color: rgba(19, 28, 107, 0.877); */
    font-variant-caps: small-caps;
    font-weight: bolder;
    box-shadow: rgb(38, 57, 77) 0px 10px 10px -5px;
}
.mid{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.mid .sqr-0{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 142px;
    width: 70%;
    height: 70%;
    align-self:center;
    margin-top: 15%;
    transform: scale(.7);
}
.sqr1{
    background: #ffffff86;
    transform: rotateX(0deg) rotateY(20deg);
    transform-style: preserve-3d;
    
}

.sqr2{
    background: #ffffff86;
    transform: rotateX(0deg) rotateY(20deg);
    transform-style: preserve-3d;
    box-shadow: rgb(38, 57, 77) 0px 10px 10px -5px;
}
.sqr4{
    background: #ffffff86;
    transform: rotateX(0deg) rotateY(-20deg);
    transform-style: preserve-3d;
    
    font-size:larger;
}
.sqr5{
    background: #ffffff96;
    transform: rotateX(0deg) rotateY(-20deg);
    transform-style: preserve-3d;
}


.h-sec{
    position:absolute;
    width: 50%;
    top: -1rem;
    left: 25%;
    background: 
    rgb(67, 66, 68);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
rgba(15, 15, 15, 0.3) 0px 30px 60px -30px, 
rgba(10, 37, 64, 0.35) 0px -2px 6px 0px ;
    color: aliceblue;
    border: 1px solid #4b4b4b;
    z-index: 2; 
    font-variant-caps: small-caps;
    font-weight: bolder;
}
.pof{
    
    
}
.pof span{
    font-style: italic;
}
.name{
    font-family: 'Poppins', sans-serif;
    color: rgb(53, 53, 53);
    font-size: 50px;
    font-weight: 800;
    text-decoration-line: underline;
    text-underline-offset: 8px;
    
}
.sqr-0:hover{
    transition: ease-in-out 1s;
    transform:none;
}
.connectli{
    list-style-type: none;
}
a, a:visited,a:link, a:hover, a:focus,a:active{
    text-decoration: none;
    color: #000;
}